/* You can add global styles to this file, and also import other style files */
@import "swiper/scss";
@import "swiper/scss/lazy";
@import "swiper/scss/navigation";
@import "swiper/scss/pagination";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #fafafa;
}

// .btn {
//   @apply border-2 p-2 bg-green-300 rounded-2xl hover:bg-green-700 transition disabled:opacity-25 disabled:pointer-events-none;
// }

// .button-primary {
//   @apply bg-gray-800/80 hover:bg-gray-800/90 px-6 py-2 rounded-md text-white font-medium tracking-wider transition;
// }

.discount-percent {
  @apply bg-green-400 px-1.5 py-0.5 rounded-md text-xs text-white;
}

.btn {
  @apply text-white font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex justify-center items-center disabled:cursor-default disabled:opacity-50 hover:text-white disabled:hover:text-indigo-100 transition-colors focus:ring;
  &.btn-sm {
    @apply px-2 focus:ring-2;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    line-height: 1.25rem;
    font-size: smaller;
  }

  &.btn-xs {
    @apply px-1 focus:ring-2;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    line-height: 0.8rem;
    font-size: 12px;
  }

  &.btn-rounded {
    @apply rounded-full;
  }

  &.btn-primary {
    @apply bg-[#5254ff] hover:bg-[#4649e7] active:bg-[#3033d4] disabled:hover:bg-[#6366f1] focus:ring-[#474be9]/50 dark:focus:ring-[#474be9]/50;

    &.btn-outline {
      @apply text-[#5254ff] bg-transparent border hover:bg-[#5254ff] hover:text-white active:bg-[#474be9];
    }
  }

  &.btn-secondary {
    @apply text-gray-600/80 bg-[#e6e8eb]/75 hover:bg-[#e6e8eb]  disabled:hover:bg-[#6366f1];
    &.btn-outline {
      @apply border bg-transparent text-gray-600/80 hover:border-gray-600 hover:text-gray-600;
    }
  }

  &.btn-danger {
    @apply border-[#dc3545] bg-[#dc3545] hover:bg-[#c82333] hover:border-[#c82333];

    &.btn-outline {
      @apply bg-transparent border text-[#dc3545] hover:border-[#c82333] hover:text-[#c82333];
    }
  }

  svg.loader {
    @apply w-4 h-4 mr-2.5 mt-0.5 text-white animate-spin;
  }
}

.bg-color-primary {
  @apply bg-gray-800;
}

.tw-shadow-primary {
  box-shadow: 0 3px 20px #0000000b;
}

.scale-effect {
  @apply transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-200;
}

.on-active-scale-effect {
  @apply transition ease-in-out active:-translate-y-1 active:scale-110 duration-150;
}
