<app-page-content pageTitle="WishList">
  <ng-container *ngIf="isLoading; else myWishes">
    <!-- Skelon loader -->
    <app-wish-item-skeleton-loader
      *ngFor="let i of [].constructor(total_wishes)"
    ></app-wish-item-skeleton-loader>
  </ng-container>

  <ng-template #myWishes>
    <app-wish-item
      *ngFor="let wish of wishes"
      [wish]="wish"
      (deleteWish)="remove($event)"
      (addToCart)="onAddToShoppingCart(wish)"
    ></app-wish-item>
  </ng-template>
</app-page-content>
