<div class="product-card group relative scale-effect" [routerLink]="['/product', product.id]">

  <!-- Wishlist button -->
  <div class="flex absolute top-2 right-2 h-8 w-8 invisible group-hover:visible transition">
    <button type="button" class="scale-effect" title="Add to Wish List"  (click)="addToWishlist();$event.stopPropagation()">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 fill-red-500 hover:fill-red-600 text-white transition-colors">
        <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
      </svg>
    </button>
  </div>

  <app-img
    [img]="product.images[0]"
    [alt]="product.name"
    class="cursor-pointer"
  ></app-img>
  <div class="px-3 pb-3 pt-0 flex flex-col gap-3">
    <!-- Product titlte -->
    <h2 class="product-title" [title]="product.name">{{ product.name }}</h2>

    <!-- Product price -->
    <div class="flex justify-end gap-1 pt-3">
      <div class="flex flex-col justify-end group-hover:hidden">
        <span class="discount-percent m-1">-20%</span>
      </div>
      <div class="flex flex-col items-end justify-between">
        <span class="text-sm line-through leading-3 opacity-75">{{
          product.price | currency: "MXN"
        }}</span>
        <span class="text-lg font-bold">
          {{ product.price - (product.price * 0.2) | currency: "MXN" }}
        </span>
      </div>
      <div class="whitespace-nowrap flex gap-2 invisible w-0 group-hover:ml-2 group-hover:w-12 group-hover:visible">
        <button type="button" title="Add to Cart" class="button-icon cart" (click)="onAddtoShoppingCart();$event.stopPropagation()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-white">
            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
