<h1 class="mb-5 text-xl font-extrabold text-gray-900/75">Password</h1>

<form
  [formGroup]="form"
  #pwForm="ngForm"
  (ngSubmit)="updatePassword()"
  class="max-w-sm"
>
  <div class="tw-row">
    <div class="tw-col">
      <label
        for="new_password"
        class="block text-gray-700 text-sm font-bold mb-2"
        >New password</label
      >
      <input
        type="password"
        id="new_password"
        formControlName="password"
        class="w-full bg-white text-black border border-gray-200 rounded py-2.5 px-4 mb-3"
        placeholder="********"
        autocomplete="off"
      />
      <ng-container
        *ngIf="
          pwForm.submitted &&
          frm['password'].invalid &&
          (frm['password'].dirty || frm['password'].touched)
        "
      >
        <p
          class="text-red-500 text-xs italic"
          *ngIf="frm['password'].hasError('required')"
        >
          Campo requerido
        </p>
        <p
          class="text-red-500 text-xs italic"
          *ngIf="frm['password'].hasError('minlength')"
        >
          La contraseña debe de ser de al menos 8 dígitos
        </p>
      </ng-container>
    </div>
  </div>
  <div class="tw-row">
    <div class="tw-col">
      <label
        for="confirm_password"
        class="block text-gray-700 text-sm font-bold mb-2"
        >Confirm password</label
      >
      <input
        type="password"
        id="confirm_password"
        formControlName="password_confirmation"
        class="w-full bg-white text-black border border-gray-200 rounded py-2.5 px-4 mb-3"
        placeholder="********"
        autocomplete="off"
      />

      <ng-container
        *ngIf="
          pwForm.submitted &&
          (frm['password_confirmation'].hasError('required') ||
            passwordMatchError)
        "
      >
        <p
          class="text-red-500 text-xs italic"
          *ngIf="
            frm['password_confirmation'].hasError('required') &&
            (frm['password_confirmation'].dirty ||
              frm['password_confirmation'].touched)
          "
        >
          Campo requerido
        </p>
        <p
          class="text-red-500 text-xs italic"
          *ngIf="
            !frm['password_confirmation'].hasError('required') &&
            passwordMatchError &&
            (frm['password_confirmation'].dirty ||
              frm['password_confirmation'].touched)
          "
        >
          Los passwords no coinciden
        </p>
      </ng-container>
    </div>
  </div>
  <div class="tw-row">
    <div class="tw-col">
      <label
        for="current_password"
        class="block text-gray-700 text-sm font-bold mb-2"
        >Current password</label
      >
      <input
        type="password"
        id="current_password"
        formControlName="current_password"
        class="w-full bg-white text-black border border-gray-200 rounded py-2.5 px-4 mb-3"
        placeholder="********"
        autocomplete="off"
      />
      <p
        class="text-red-500 text-xs italic"
        *ngIf="
          pwForm.submitted &&
          frm['current_password'].hasError('required') &&
          (frm['current_password'].dirty || frm['current_password'].touched)
        "
      >
        Campo requerido
      </p>
    </div>
  </div>
  <div class="tw-row justify-end">
    <div class="tw-col">
      <button class="tw-btn tw-btn-primary w-24 float-right">
        <svg
          *ngIf="isUpdating"
          class="loader"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>
        Save
      </button>
    </div>
  </div>
</form>
